@use '../../../shared/styles/variables' as vars;
@use '../../../shared/styles/mixins' as *;

.button {
  font: inherit;
  appearance: none;
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
  cursor: pointer;
  transition: 1.5s;
  padding: 10px;

  @include hover-glow;
}
