@use '../../shared/styles/variables' as vars;

.card {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid vars.$light-bg-color;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;

  .title {
    width: 70%;
    height: 18px;
    background: linear-gradient(90deg, #e0e0e0, #f2f2f2, #e0e0e0);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 4px;
  }

  .image {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #e0e0e0, #f2f2f2, #e0e0e0);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 4px;
  }

  .info {
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &Line {
      width: 100%;
      height: 12px;
      background: linear-gradient(90deg, #e0e0e0, #f2f2f2, #e0e0e0);
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite linear;
      border-radius: 4px;

      &Short {
        width: 80%;
        height: 12px;
        background: linear-gradient(90deg, #e0e0e0, #f2f2f2, #e0e0e0);
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite linear;
        border-radius: 4px;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}
