@use '../../styles/mixins' as *;

.container {
  .hideLabel {
    @include visually-hidden;
  }

  .input {
    background-color: var(--background);
    color: var(--text);
    border: 1px solid var(--accent);
    padding: 11px;
    border-radius: 10px 0 0 10px;
    transition: 1.5s;

    @include hover-glow;
  }
}
