.error {
  color: #d87f7f;
  margin-bottom: 10px;
}

.containerInput {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.label {
  cursor: pointer;
  font-size: 18px;
}
