$dark-bg-color: #050407;
$light-bg-color: #eaeaea;
$dark-text-color: $dark-bg-color;
$light-text-color: $light-bg-color;

$accent-color: #4ade80;

$max-width: 1290px;

$dark-theme: (
  'background': $dark-bg-color,
  'text': $light-text-color,
  'accent': $accent-color,
);
