@use '../../shared/styles/variables.scss' as *;

.mainPage {
  .topControls {
    background-color: $light-bg-color;

    &Wrapper {
      max-width: 1290px;
      margin-inline: auto;
      color: $dark-text-color;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  .contentArea {
    background-color: $dark-bg-color;

    &Wrapper {
      max-width: 1290px;
      margin-inline: auto;
      color: $light-text-color;
      padding-top: 10px;
    }
  }
}
