@use '../../shared/styles/variables.scss' as *;

.mainPage {
  max-width: 1290px;
  margin-inline: auto;

  .topControls {
    background-color: $light-bg-color;
    color: $dark-text-color;
    padding: 20px 0;
  }

  .contentArea {
    padding-top: 10px;
    background-color: $dark-bg-color;
    color: $light-text-color;
  }
}
