@use '../../shared/styles/variables.scss' as *;

.mainPage {
  .topControls {
    &Wrapper {
      max-width: $max-width;
      margin-inline: auto;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  .contentArea {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    &Wrapper {
      flex: 1;
      min-width: 0;
      max-width: $max-width;
      margin-inline: auto;
      padding-top: 10px;
    }
  }
}
