.list {
  list-style: none;
  padding: 0;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;

  .passed,
  .failed {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.8rem;
  }

  .passed {
    color: #61b961;
  }

  .failed {
    color: #be4a4a;
  }
}
